---
layout: post
title:  "About those pet store tarantulas..."
date:   2022-02-06 09:51:33 -0500
categories: general
---

<h1></h1>
<p>If you've ever visited your local Petco, Petsmart, or *insert name of local small pet store here*, it's likely
    that you've seen tarantulas that they have for sale, perhaps under the names "Assorted Basic Tarantula" or
    "Assorted Fancy Tarantula" (the latter priced twice as high as the former). They were probably housed in
    a small enclosure that lacked substrate and humidity, unless an employee happened to have tarantula care
    knowledge. So, these tarantulas -- should you buy them?
</p>
<p>The answer to that question is completely up to you, but there are a few things worth noting: these
    pet store tarantulas are often wild caught, of unknown age, unsexed, and somethings in poor health. Buying
    from a reputable tarantula breeder will ensure that you know the age of your spider, and perhaps the sex,
    if the spider is large enough and the breeder has gotten hold of an intact-enough molt. 
</p>
<p>Of course, many people in the hobby -- including myself -- have purchased pet store tarantulas, often to 'save'
    them from poor conditions or as tarantulas we bought before we knew any better. I have one of those, my first tarantula:

{% for tarantula in site.data.tarantulas  %}
    {% if tarantula.name == 'Lydia' %}
        <p>{{tarantula.picture}}</p>
        <p>{{tarantula.name}}</p>
    {% endif %}
{% endfor %}
</p>
<p>Was it worth it? I think that it was, but I also won't be buying any more pet store tarantulas because I prefer to 
    know more about my tarantulas and their history rather than less, and I don't like gambling with age/sex/level of parasite
    infestation. 
</p>