---
layout: post
title:  "You need an O(range)B(itey)T(hing), and here's why:"
date:   2022-02-06 09:51:33 -0500
categories: general
---
<p><em>(Alright, their proper common name is Orange Baboon Tarantula, but Orange Bitey Thing is more accurate)</em></p>
<p>
Four things about OBTs:<br />
1. They can bite <br />
2. They will bite <br />
3. They <em>love</em> to bite <br />
4. Their bites can sometimes put you in the hospital </p>
</p>
<p>Appealing? Maybe not. But if you're an experienced handler, consider this list as well:</p>
<p>
1. Some OBTs do a little happy dance after they kill their prey. It's adorable<br />
2. They look like *this*: 
{% for tarantula in site.data.tarantulas  %}
    {% if tarantula.name == 'Hannibal' %}
        {{tarantula.picture}}
    {% endif %}
{% endfor %}<br />
3. They are so angry all the time, but in an endearing way, y'know?<br />
4. You can come up with fun reasons for their names that you can tell everyone that asks about them. 
Mine for the above tarantula is: His name is Hannibal, because he's medically significant (being eaten is somewhat medically significant, no?)<br />
</p>
